.sidebar {
  display: flex;
  gap: 42px;
  position: relative;
  justify-content: space-between;
}


.titleBlockContainer {
  width: 20%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  bottom: 0;
  left: 0;
  top: 0;
  background: #060B26;
  border: 1px solid;
  padding: 25px;
  border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.title {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 8px;
}

.title p {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.logo {
  width: 100%;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
  border-image-slice: 1;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.content {
  position: absolute;
  right: 0;
  width: 78%;
  padding-top: 41px;
}

.crumbs li {
  display: flex;
  gap: 15px;
}

.navList {
  width: 100%;
  padding: 0;
}

.navList > li {
  width: 100%;
}
.navList li:first-child {
  padding-left: 10px;
}

.navList li a:hover{
  background: #1A1F37;
}

.navList>li>a {
  border-radius: 15px;
  width: 100%;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  gap: 15px;
}
.active {
  background: #1A1F37 !important;
}

.burger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burgerLine {
  width: 25px;
  height: 5px;
  margin: 1px 0;
  background-color: #5d5dfd;
}

@media screen and (max-width: 991px) {
  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .content {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .titleBlockContainer {
    width: fit-content;
    min-height: 100vh;
    z-index: 5;
  }

}