.progress-bar-container {
    position: relative;
    width: 100%;
    height: 10px;
    margin: 5px 0;
}

/* .progress-percentage {
    position: absolute;
    color: black;
    left: 84%;
    font-size: xxx-large;
} */

.progress-bar {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 15px;
    overflow: hidden;
}

.progress-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: left 0.3s ease-in-out;
}

.breakpoints {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.breakpoint {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: white;
}

/* Circular Progress Bar Styles */
.circular-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.circular-progress-bar {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: lightgrey;
    overflow: hidden;
}

.circular-progress-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-90deg);
}

.circular-progress-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
}