.slick-initialized .slick-slide {
  margin: 0px 13px;
}

.slick-prev:before,
.slick-next:before,
.slick-next,
.slick-prev {
  display: none !important;
}

.slick-track,.slick-slider .slick-track, .slick-slider .slick-list {
  max-height: 343px;
}